@model RegisterViewModelProvider
    <form method="post" asp-controller="Account" asp-action="_RegisterProvider">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="md-form form-sm mb-5">
            <i class="fas fa-envelope prefix"></i>
            <input type="email" id="modalLRInput16" class="form-control form-control-sm validate" asp-for="Email">
            <label data-error="wrong" data-success="right" for="modalLRInput16" asp-for="Email">Email</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="md-form form-sm mb-5">
            <i class="fas fa-lock prefix"></i>
            <input type="password" id="modalLRInput17" class="form-control form-control-sm validate" asp-for="Password">
            <label data-error="wrong" data-success="right" for="modalLRInput17" asp-for="Password">Your password</label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="md-form form-sm mb-4">
            <i class="fas fa-lock prefix"></i>
            <input type="password" id="modalLRInput18" class="form-control form-control-sm validate" asp-for="PasswordConfirm">
            <label data-error="wrong" data-success="right" for="modalLRInput18" asp-for="PasswordConfirm">Repeat Password</label>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div class="md-form form-sm mb-4">
            <i class="fas fa-lock prefix"></i>
            <input type="password" id="modalLRInput19" class="form-control form-control-sm validate" asp-for="SerialNumber">
            <label data-error="wrong" data-success="right" for="modalLRInput19" asp-for="SerialNumber">Serial Number</label>
            <span asp-validation-for="SerialNumber"></span>
        </div>
        <div class="text-center form-sm mt-2">
            <button class="btn btn-info" asp-controller="Account" asp-action="RegisterProvider">Sign up <i class="fas fa-sign-in ml-1"></i></button>
        </div>
        <div class="modal-footer">
            <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
            </div>
        </div>  <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
    </form>