<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/old-retro-antique-vintage-163185.jpeg">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Sharp Minds, Sharp products</span>
                            <span class="section-heading-lower">Немного истории</span>
                        </h2>
                        <p>Люди любят игры и приключения, и это заметно с давних времен. Долгая история человечества показывает, что люди постоянно придумывали какие-то игры. Хотя сегодня многим нравятся компьютерные “симуляторы жизни”, 
                        квесты в реальности легко составят им конкуренцию в плане эмоциональной отдачи. Когда-то казалось, что реальная жизнь перемещается в виртуальное пространство. Но на практике оказалось гораздо интереснее сделать наоборот: превратить игру или кино в увлекательное и настоящее приключение!</p>
                        <p class="mb-0">В далеком 2004 году, японец Тошимицу Такаги создал своеобразный прототип квеста. В обычной компьютерной игре ставилась классическая для современных квестов задача: выбраться из комнаты, используя подручные средства, за определенное время. Это была флешка с названием Crimson Room, вскоре получившая всемирную популярность.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>