@model List<QuestViewModel>
<div class="row">
    @foreach (var quest in Model)
    {
        <div class="col-4">
            <div class="card">
                <img style='width:100%; height:100%;' src="data:image/jpeg;base64,@(Convert.ToBase64String(quest.Image))" />
                <div class="card-body">
                    <p class="card-text">@quest.Description</p>
                </div>
            </div>
        </div>
    }

</div>
