@model QuestViewModel
<h2>Создать квест</h2>
<form method="post" asp-controller="Quests" asp-action="MakeQuest" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Discount"></label><br />
        <input asp-for="Discount" />
        <span asp-validation-for="Discount"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="ImageFile"></label><br />
        <input asp-for="ImageFile" />
        <span asp-validation-for="ImageFile"></span>
    </div>
    <div>
        <label asp-for="UniqueCode"></label><br />
        <input asp-for="UniqueCode" />
        <span asp-validation-for="UniqueCode"></span>
    </div>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>

